.home {
    color: black;
    width: auto;
     text-align: center;
  font-size: 40px
}


.input {
 text-align: center;
 width: 450px;
 padding: 15px;
border-radius: 5px;
font-size: 20px;

}

.form {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 15px;
}